/*--------------------Contenedor Principal----------------------------*/
#container{
    display: grid;
    width: 100%;
    margin: auto;
    height: 100%;
}
/*--------------------Header Principal----------------------------*/
#headerP{
    grid-column: 1/13;
    grid-row: 1;
    height: 100%;
    background-color: #536894;
}
img{
    width: 10em;
    margin: 10px 0px 0px 10px;
}


/*------------------------Navegacion-----------------------------*/
nav{
    grid-column: 1/13;
    grid-row: 2;
    height: 100%;
    background-color: #536894;
}
ul{
    list-style: none;
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
    margin-top: 0%;
}
li:last-child{
    margin-right: 20px;
}
li:first-child,li:nth-child(5){
    margin-left: auto;
}


/*------------------------Articulo 1-----------------------------*/

#articulo1{
    grid-column: 1/10;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 15px;
}

section img{
    width: 35em;
    border-radius: 1%;
}
section section:last-of-type{
    align-self: center;
}
h1{
    text-align: center;
}
#body-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1/10;
    grid-row: 3;
}
#articulo2{
    display: flex;
    flex-direction: column;
    height: 100%;
}
div{
    grid-column: 10/13;
    grid-row: 3;
    display: flex;
    flex-direction: column;
}
#footerP{
    grid-column: 1/13;
    grid-row: 5;
    height: 100%;
}

.contenedor-responsivo {
    position: relative;
    overflow: hidden;
}
.iframe-responsivo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
p{
    padding-right: 30px;
    padding-left: 30px;
}
#sidebar{
    margin-top: 20px;
}
#sidebar aside{
    height: 500px;
}




