/*Tabla de contenidos
*               Contenedor principal
*
*   1. Header Principal      1. Header Principal
*
*   2. Navegacion            2. Navegacion
*
*   3. Section               4. Sidebar
*
*   5.Footer Principal       5.Footer Principal
*/


/*--------------------Contenedor Principal----------------------------*/
.container{
    display: grid;
    width: 100%;
    margin: auto;
    height: 100%;
}
p{
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 1rem;
}
h1,h2,h3,p,li{
    font-family: 'Roboto Condensed', sans-serif;
}
/*--------------------1.Header Principal----------------------------*/
#headerP{
    grid-column: 1/3;
    grid-row: 1;
    height: 100%;
    background-color: #536894;
    display: flex;
}
img{
    width: 10em;
    margin: 10px 0px 10px 10px;
}


/*------------------------2.Navegacion-----------------------------*/
nav{
    grid-column: 1/3;
    grid-row: 2;
    height: 100%;
    background-color: #f13737;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    margin-top: 0%;
}
nav ul li{
    padding-top: 20px;
    text-align: center;
    width: 12%;
}
li:last-child{
    text-align: start;
}
li:first-child,li:nth-child(5){
    margin-left: auto;
}
li span img{
    width: 13%;
    margin: 0px;
    margin-right: 4%;
}

li p{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    height: auto;
}
nav li i{
    color: #536894;
    padding: 0%;
    padding-right: 5px;
}


/*------------------------3.Section-----------------------------*/
#body-section{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 3;
    background-color: #DBE8F0;
    row-gap: 15px;
}
section img{
    width: 35em;
    border-radius: 1%;
    text-align: center;
    padding: 30px;
}
section section:last-of-type{
    align-self: center;
    text-align: center;
}
h1{
    text-align: center;
}
hr{
    margin-top: 70px;
}
article{
    padding: 20px;
}
#articulo1 section ul li,#articulo1 footer ul li {
    margin: 20px;
    margin-left: 40px;
}
#articulo2 section ul li,#articulo2 footer ul li {
    margin: 20px;
    margin-left: 40px;
}

/*------------------------4.Sidebar-----------------------------*/

#sidebar{
    grid-column: 2/3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    background-color: #DBE8F0;
    padding-top: 20px;
    align-items: flex-end;
    width: 500px;
    text-align: center;
}
#sidebar img{
    width: 70%;
}
h2{
    text-align: center;
    margin: auto;
    padding: 30px;
}
#sidebar aside{
    height: 750px;
    margin-left: auto;
    margin-right: auto;
}
#sidebar aside:last-child{
    height: 200px;
}
input{
    margin-left: 10px;
}
label,input[type="email"]{
    margin-top: 10px;
    margin-left: 30px;
    width: 70%;
}



/*------------------------5.Footer Principal-----------------------------*/

#footerP{
    grid-column: 1/3;
    grid-row: 4;
    height: 100%;
    background-color: #536894;
    display: flex;
    justify-content: space-around;
}
#footerP div{
    flex-basis:33%;
    text-align: center;
}
i{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


#footerP div p,h3{
    text-align: center;
}


footer img{
    width: 5%;
    margin: auto;
}



/*------------------------6.Pantalla Pequeña-----------------------------
*
*/

@media screen and (min-width: 375px) and (max-width:667px){
    #body-section{
        grid-column: 1/3;
    }
    #sidebar{
        grid-column: 1/3;
        grid-row: 4;
        width: 100%;
    }
    #footerP{
        grid-column: 1/3;
        grid-row: 5;
    }
    #headerP img{
    margin: auto;    
    margin-bottom: 10px;
    }   
    span{
        display: none;
    }
}



/*------------------------Mostrar Video-----------------------------
*
*/
.oculto{
    display: none;
}
video{
    width: 100%;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  #content h1 {
    padding: 20px;
    background-color: #536894;
    border-radius: 100%;
    position: fixed;
    height: auto;
    right: 100px;
    top: 20px;
    color: rgb(215, 213, 213);
  }  
  #content h1:hover {
    cursor: pointer;
    color: rgb(148, 148, 148);
  }
  .animacion {
    width:100%;
    height: 100px;
    background: #536894;
    position: fixed;
    bottom: 50px;
    animation: mymove 5s ;
  }
  div div h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  @keyframes mymove {
    from {bottom: 100%;}
    to {bottom: 50px;}
  }